@import '../../scss/index.scss';

.auth {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to top, $teal, $primary);
}
