@import '../../../scss/index.scss';

.list-view__item {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rem 1rem;
	border-radius: 10px;
	border: 1px solid $gray-light;
	margin: 0.5rem 0rem;

	&-avatar {
		background-color: $white;
		border: 1px solid $gray-light;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1px;
		overflow: hidden;
		> img {
			display: block;
			width: 30px;
			height: 30px;
		}
	}

	&-name {
		> span {
			font-size: 1rem;
			color: $dark;
		}
	}

	&-actions {
		display: flex;
		justify-content: space-between;
	}
}

.content-detail {
	display: flex;
	align-items: center;
	justify-content: center;
	&__avatar {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0rem 2rem 0rem 0rem;
		flex: 40% 0 0;

		> img {
			display: block;
			width: 200px;
			height: 200px;
			border-radius: 100%;
			border: 1px solid $gray-light;
		}
	}

	&__info {
		flex: 1;
		ul {
			list-style: none;
			color: $dark;
			> li {
				margin: 0.5rem;
				> b {
					color: $primary;
					margin-right: 0.5rem;
				}
			}
		}
	}
}

.modal-delete {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
