@import '../../scss/index.scss';

.upload-image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	.upload-image__content {
		display: flex;
		margin: 0 !important;
		border: 2px solid $gray-light;
		border-style: dashed;
		border-radius: 15px;
		padding: 7px;
		cursor: pointer;

		.ui.image {
			width: 100px !important;
			border-radius: 15px !important;
			filter: opacity(0.4);
		}
	}
}
