// colors

$primary: #2ca6ff;
$teal: #21ccff;
$success: #00de67;
$green: #00e5b0;
$pruple: #a739eb;
$danger: #ff7272;
$warning: #ffcf33;

$black: #000;
$white: #fff;

$dark: #767676;
$gray: #bcbcbc;
$gray-light: rgba(#bcbcbc, 0.5);

// backgrounds color
// $grandient-primary: linear-gr
